@import '../../assets/variables.sass'
.login
    background-color: $bg-button
    &__container
        margin: 0 auto
        display: flex
        justify-content: center
        flex-wrap: wrap
        padding-bottom: 50px
    &__form
        flex-wrap: wrap
        justify-content: center
        &_hiden
            display: none
        &_showed
            display: flex
    &__title
        color: $title-color
        width: 100%
        text-align: center
    &__username
        width: 90%
        margin-top: 25px
        background-color: #121212
        border: 1px solid rgba(246,251,253,.16)
        padding: 7px
        border-radius: 5px
        color: #a1a1a1
        transition: .5s
        &:focus
            color: $title-color
            transition: .5s
    &__password
        width: 90%
        margin-top: 25px
        background-color: #121212
        border: 1px solid rgba(246,251,253,.16)
        padding: 7px
        border-radius: 5px
        color: #a1a1a1
        transition: .5s
        &:focus
            color: $title-color
            transition: .5s
    &__submit
        width: 70px
        margin-top: 30px
        border: none
        border-radius: 5px
        padding: 10px
        cursor: pointer
        border: 1px solid rgba(246,251,253,.16)
        background-color: $bg-default-second
        color: $title-color
        &:hover
            background-color: $title-color
            border: 1px solid $bg-button
            transition: .4s
            color: $bg-default
    &__description
        color: $title-color
        text-align: center
        width: 100%
        &_hiden
            display: none
        &_showed
            display: inline
