@import '../../assets/variables.sass'
.profile
    background-color: $bg-button
    &__container
        margin: 0 auto
        display: flex
        justify-content: center
        width: 700px
        padding-bottom: 50px
    &__title
        color: $title-color